{% extends "basic_app/base.html" %}
{% load static %}
{% block body_block %}

<div class="row">
  <div class="col-sm-12">
    <div class="bg-about">

      <div class="container about-container techfont-about" >
        <div class="jumbotron color1 ">

          <h1 class="center">About</h1>

          <h3 class="center">Download Notes And Previous Year Question Paper Of Your College For Free!</h3>


            <h3 class="center">Help our community!</h3>

            <h3>Is notes or previous year question paper with you?</h3>
            <h3>Upload here in just 3 simple steps!</h3>
            <h3><ol>
                <li>Register youself</li>
                <li>Login</li>
                <li>Upload the notes/exam-paper</li>
            </ol></h3>
            <h3>We will upload it after verification!</h3>
          </div>
        </div>
    </div>
 </div>
 </div>

{% endblock %}
